{% extends "faq/base.html" %}

{% load i18n %}


{% comment %}
  This template will be used when either ``faq.urls.normal`` (default) or
  ``faq.urls.deep`` patterns are used. Note that you will want to code this
  differently depending on the patterns. This template is coded for ``normal``.
{% endcomment %}

{% block title %}{% blocktrans with topic.title as topic %}FAQ: {{ topic }}{% endblocktrans %}{% endblock %}


{% block header %}
  <a href="{% url faq-topic-list %}">{% trans "FAQ" %}</a> › {{ topic }}
{% endblock %}


{% block content %}
  <p>{{ topic.description }}</p>

  <ol>
    {% for question in question_list %}
      <li>
        <h2 id="{{ question.slug }}">{{ question.question }}
          <a href="#{{ question.slug }}">∞</a></h2>
        {{ question.answer|linebreaks|urlize }}
      </li>
      {% comment %} For ``deep`` you may do something like the following.
      <li><a href="{{ question.get_absolute_url }}">{{ question.question }}</a></li>
      {% endcomment %}
    {% endfor %}
  </ol>
{% endblock %}
